<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innovative Assignment & Project Solutions</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
      <div class="logo">
         <span>A</span>
         <span>s</span>
         <span>s</span>
         <span>i</span>
         <span>g</span>
         <span>n</span>
         <span>m</span>
         <span>e</span>
         <span>n</span>
         <span>t</span>
         <span>W</span>
         <span>a</span>
         <span>a</span>
         <span>l</span>
         <span>a</span>
         <span>a</span>
     </div>
        <nav>
            <ul class="nav-links">
               <li><button><a href="/templates/index.html">Home</a></li></button>
                <li><button><a href="/templates/pricing.html">Pricing</a></li></button>
                <li><button><a href="/templates/login.html">Login</a></li></button>
                <li><button><a href="/templates/contact.html">Contact</a></li></button>
            </ul>
        </nav>
    </header>
<div class="wrapper">
         <div class="title-text">
            <div class="title login">
               Login Form
            </div>
            <div class="title signup">
               Signup Form
            </div>
         </div>
         <div class="form-container">
            <div class="slide-controls">
               <input type="radio" name="slide" id="login" checked>
               <input type="radio" name="slide" id="signup">
               <label for="login" class="slide login">Login</label>
               <label for="signup" class="slide signup">Signup</label>
               <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
               <form action="#" class="login">
                  <div class="field">
                     <input type="text" placeholder="Email Address" required>
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Password" required>
                  </div>
                  <div class="pass-link">
                     <a href="#">Forgot password?</a>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Login">
                  </div>
                  <div class="signup-link">
                     Not a member? <a href="">Signup now</a>
                  </div>
               </form>
               <form action="#" class="signup">
                  <div class="field">
                     <input type="text" placeholder="Email Address" required>
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Password" required>
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Confirm password" required>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Signup">
                  </div>
               </form>
            </div>
         </div>
      </div>



    <footer>
        <div class="container">
            <p>&copy; 2024 Innovative Assignment & Project Solutions. Crafted for excellence.</p>
        </div>
    </footer>
    
    <script src="/static/js/scripts.js"></script>
    </body>
    </html>